 /* initial adjustments */

 body {
    margin: 0px;
 }
 
 
 /* Add a black background color to the top navigation */
.topnav {
  /* background-color: rgb(0, 0, 0);*/
  background-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0.8) 90%, rgba(255,255,255,0.3) 100%);
  overflow: hidden;
  height: 8vh;
}

#logo-container{
    padding: 0;
    transform: translateX(calc(50vw - 50%));
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

a img{
  height: 7vh;
  width: 120px;
  object-fit: contain;
}



/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(202, 210, 197, 1);
  color: black;
}

/*
Add an active class to highlight the current page
.topnav a.active {
  background-color: rgba(132, 169, 140, 1);
  color: white;
}
*/

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
} 

/* media queries */

 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 860px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  #logo-container{
    transform: translate(calc(50vw - 50%))
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 860px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} 

/*Font configuration and descriptors*/

.work-sans-regular {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.work-sans-light {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.work-sans-semi-bold{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.work-sans-bold{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/*cards*/

.card {
    border: solid 1px rgba(10, 10, 10, 1);
    border-radius: 20px;
    padding-top: 5vh;
    padding-bottom: 7vh;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 7vw;
    margin-right: 7vw;
    box-shadow: 9px 8px 19px 9px gray;
}

#main_canvas{
  width: 100vw;
  height: 70vh;
}
